<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= lang['controlpanel'] %> - <%= wikiName %></title>
    <link rel="shortcut icon" href="<%= wikiIcon %>" type="image/svg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            display: flex;
        }

        .sidebar {
            background-color: #24292f;
            width: 250px;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            overflow-y: auto;
            z-index: 1050;
        }

        .sidebar h1 {
            color: #fff;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            color: #d1d5da;
            text-decoration: none;
        }

        .sidebar a:hover {
            background-color: #0366d6;
            color: #fff;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
            flex-grow: 1;
        }

        .content-inner {
            padding-top: 60px;
        }

        .ref {
            font-size: small;
            display: inline;
            cursor: pointer;
            text-decoration: none;
        }

        .ref:hover {
            text-decoration: underline;
        }

        ul, ol {
            margin-left: 30px;
        }

        .top-navbar {
            background-color: #0366d6;
            color: #fff;
            padding: 10px 20px;
            position: fixed;
            width: calc(100% - 250px);
            top: 0;
            left: 250px;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #0366d6;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        button:hover {
            background-color: #024d9f;
        }

        button.red {
            background-color: #d60303;
        }

        button.red:hover {
            background-color: #9f0202;
        }

        .stats-item {
            background-color: #ffffff;
            border: 1px solid #e1e4e8;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 20px;
        }

        .stats-item h2 {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        .stats-item p, .stats-item ul {
            font-size: 1em;
            margin: 0;
        }

        .stats-item ul {
            list-style-type: none;
            padding-left: 0;
        }

        .stats-item li {
            margin-bottom: 5px;
        }

        .stats-item a {
            color: #0366d6;
            text-decoration: none;
        }

        .stats-item a:hover {
            text-decoration: underline;
        }

        .visitsCount {
            color: #6a737d;
            font-size: 0.9em;
            margin-left: 5px;
        }

        .footer {
            background-color: #f6f8fa;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #e1e4e8;
            position: fixed;
            bottom: 0;
            width: calc(100% - 250px);
            left: 250px;
        }

        .footer img {
            max-height: 30px;
        }

        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h1><%= wikiName %></h1>
        <% articles.forEach(function(article) { %>
            <a href="/wiki/<%= article.articleName %>">
                <%= article.articleName %>
            </a>
        <% }); %>
    </div>

    <div class="top-navbar">
        <div>
            <h1><%= lang['controlpanel'] %></h1>
        </div>
    </div>

    <div class="content">
        <div class="content-inner"></div>
        <a href="/admin/articles"><button><%= lang['articles'] %></button><br><br></a>
        <h1><%= lang['statistics'] %></h1>

        <br>

        <div class="stats-item">
            <h2><%= lang['totalarticles'] %></h2>
            <p><%= articles.length %></p>
        </div>

        <div class="stats-item">
            <h2><%= lang['totalvisits'] %></h2>
            <p><%= totalVisits %></p>
        </div>

        <div class="stats-item">
            <h2><%= lang['latestarticles'] %></h2>
            <ul>
                <% latestArticles.forEach(function(article) { %>
                    <li><a href="/wiki/<%= article.articleName %>">
                        <%= article.articleName %>
                    </a><span class="visitsCount">(<%= article.visits %> <%= lang['visits'].toLowerCase() %>)</span></li>
                <% }); %>
            </ul>
        </div>

        <div class="stats-item">
            <h2><%= lang['populararticles'] %></h2>
            <ul>
                <% popularArticles.forEach(function(article) { %>
                    <li><a href="/wiki/<%= article.articleName %>">
                        <%= article.articleName %>
                    </a><span class="visitsCount">(<%= article.visits %> <%= lang['visits'].toLowerCase() %>)</span></li>
                <% }); %>
            </ul>
        </div>

        <button class="red" onclick="resetVisits()"><%= lang['resetvisits'] %></button>

        <br><br><br>
    </div>

    <div class="footer">
        <p>&copy; <%= lang['licensedunder'] %> <a href="<%= wikiLicenseURL %>"><%= wikiLicense %></a></p>
        <a href="https://github.com/JuniorSchueller/SCHWiki"><img style="width: 88px;height: 31px;" src="/assets/PoweredBy_SCHWiki.png" alt="Powered by SCHWiki"></a>
    </div>

    <script>
        function resetVisits() {
            const wasAccepted = window.confirm(`<%= lang['areyousure'] %> `);
            if (!wasAccepted) return;
            fetch('/admin/resetvisits', {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) return location.href = '/admin/panel';
                    return window.alert(`<%= lang['somethingbroke'] %>`); 
                })
                .catch(() => {
                    return window.alert(`<%= lang['somethingbroke'] %>`);
                });
        }
    </script>
</body>
</html>
